.inputWrapper {
  display: flex;
  align-items: center;
}

.input {
  font-family: inherit;
  padding: 10px;
  border: none;
  background: var(--input-bg);
  border-radius: 8px;
  width: 100%;
}

.startIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  color: var(--input-icon-color);
  padding-left: 10px;
}

.startIcon ~ .input {
  padding-left: 32px;
}
