:root {
  --page-bg: #fbfcfd;
  --button-bg: #452cdc;
  --button-bg-hover: #2000d6;
  --title-color: #292f3c;
  --text-color: #868d9c;
  --link-color: #452cdc;
  --link-color-hover: #140083;
  --input-bg: #f0f3f4;
  --input-icon-color: #4f4f4f;
  --white-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--page-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
